#grey {
    color: rgb(245, 238, 238);
    text-align: center;
    background-color:  rgb(76, 77, 79);
}



#green {
    color: black;
    background-color: rgb(5, 124, 62);
}

#tan {
    color: black;
    text-align: center;
    background-color: rgb(235, 239, 227);
}